.Dashboard {
    height: 100vh;
    overflow-y: hidden;
    /* background-color: black; */
}

.options-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    border: 1px solid black;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards-container {
    /* height: 80%; */
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
    display: flex;
    justify-content: center;
}

.Cardslist {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 22px 44px 0 #e7e7eb;
}