.Dashboard {
    height: 100vh;
}

.options-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

.options-box {
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 22px 44px 0 rgba(28, 71, 132, 0.49);
}

.options {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

.Cardslist {
    width: 70%;
    height: 490px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 22px 44px 0 #e7e7eb;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #e0f7e4;
}

::-webkit-scrollbar {
    width: 0 !important;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .Dashboard {
        height: 100vh;
    }
    .Cardslist {
        height: 490px;
    }
}

@media screen and (min-width: 1400px) {
    .Dashboard {
        height: 100vh;
    }
    .Cardslist {
        height: 825px;
    }
}
